<%- include("partails/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="ComposeTitle" class="form-control">
    <label>Post</label>
    <textarea type="text" name="ComposeValue" class="form-control" rows="5"></textarea>
  </div>
  <button type="submit" name="button" class="btn btn-primary">Publish</button>
</form>
<%- include("partails/footer") -%>
